<div class="container my-5 errorPage">
    <div class="row justify-content-center">
        <div class="coming-soon text-center">
            <img loading="lazy" src="/.assets/Logo1_without_bg (1).webp" alt="Artovia Logo" class="logo">
            <p class="fw-bold">{{ 'not_found.title' | translate }}</p>
            <p>{{ 'not_found.message' | translate }}</p>
            <button class="btn fw-bold rounded-0" [routerLink]="['/home']">
                {{ 'not_found.back_to_home' | translate }}
            </button>
        </div>
    </div>
</div>