/* تنسيق عام */
.container {
    max-width: 1200px;
    margin: auto;
}

/* تنسيق الجدول */
.table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* تنسيق الأزرار */
.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-outline-dark:hover {
    background-color: #333;
    color: #fff;
}

button.btn {
    min-width: 120px;
    padding: 10px;
    font-weight: bold;
}

/* تنسيق الصور في المنتجات */
.image-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.product-img:hover {
    transform: scale(1.1);
}

/* تنسيق الـ Modal */
.modal-content {
    border-radius: 10px;
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-body {
    padding: 20px;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 2px solid #ddd;
}

.modal-footer {
    border-top: 2px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.modal-body input,
.modal-body textarea,
.modal-body select {
    border-radius: 5px;
    padding: 8px;
}

/* تنسيق بوكس الزووم */
.zoom-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.zoom-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:50%;
    max-height: 50%;
    overflow: hidden;
    padding: 10px;
    background: rgba(255, 193, 7, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 193, 7, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.zoom-content img {
    width: 50%;
    height: 50%;
    border-radius: 5px;
    transition: transform  ease-in-out, transform-origin  ease-in-out;
    

}

.zoom-content img:hover {
    transform: scale(1.5);
}

/* إزالة الأسهم في Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* تغيير لون الـ outline لجميع الحقول */
input:focus,
textarea:focus,
select:focus {
    outline: 2px solid teal !important;
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
    border-color: teal;
}