<div class="container">
    <div class="box mt-5">
        <div class="d-flex justify-content-center align-content-center align-items-center mb-5">
            <button (click)="resetModel()" class="btn btn-outline-warning rounded-0 text-white" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Add Product </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
                        <button class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="form">
                            <div class="row g-3">
                                <div class="col-md-6 col-sm-12">
                                    <label for="">Title</label>
                                    <input type="text" formControlName="title" class="form-control" placeholder="title">
                                    <small class="text-danger" *ngIf="form.get('title')?.hasError('serverError')">
                                        {{ form.get('title')?.getError('serverError') }}
                                    </small>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <label for="">Price</label>
                                    <input type="number" formControlName="price" class="form-control"
                                        placeholder="price">
                                    <small class="text-danger" *ngIf="form.get('price')?.hasError('serverError')">
                                        {{ form.get('price')?.getError('serverError') }}
                                    </small>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <label for="">Quantity</label>
                                    <input type="number" formControlName="quantity" class="form-control"
                                        placeholder="quantity">
                                    <small class="text-danger" *ngIf="form.get('quantity')?.hasError('serverError')">
                                        {{ form.get('quantity')?.getError('serverError') }}
                                    </small>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <label for="image">Image</label>
                                    <input (change)="onFileSelected($event)" multiple formControlName="imageFile"
                                        type="file" accept="image/*" class="form-control">
                                    <small class="text-danger" *ngIf="form.get('imageFile')?.hasError('serverError')">
                                        {{ form.get('imageFile')?.getError('serverError') }}
                                    </small>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <label for="image">Description</label>
                                    <textarea class="form-control" formControlName="description"
                                        placeholder="type here .. "></textarea>
                                    <small class="text-danger" *ngIf="form.get('description')?.hasError('serverError')">
                                        {{ form.get('description')?.getError('serverError') }}
                                    </small>
                                </div>

                                <div class="select-box mt-4">
                                    <label for="category" class="my-1 text-dark fw-bolder"> Select Category </label>
                                    <select class="form-control form-select" formControlName="categorySelection">
                                        <option [disabled]="true" class="fw-light">All Categories</option>
                                        @for (data of _sortInput; track data._id) {
                                        <option [value]="data._id" class="fw-light">{{data.name}}</option>
                                        }
                                    </select>
                                    <small class="text-danger"
                                        *ngIf="form.get('categorySelection')?.hasError('serverError')">
                                        {{ form.get('categorySelection')?.getError('serverError') }}
                                    </small>

                                    <label for="category" class="my-1 text-dark fw-bolder"> Select SubCategory </label>
                                    <select formControlName="SubcategorySelection" class="form-control form-select">
                                        <option [disabled]="true" class="fw-light">All SubCategories</option>
                                        @for (item of _supCategoryInput; track item._id) {
                                        <option [value]="item._id" class="fw-light">{{item.name}}</option>
                                        }
                                    </select>
                                    <small class="text-danger"
                                        *ngIf="form.get('SubcategorySelection')?.hasError('serverError')">
                                        {{ form.get('SubcategorySelection')?.getError('serverError') }}
                                    </small>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button [disabled]="form.invalid" (click)="updateProduct()"
                                    class="btn btn-dark text-white" data-bs-dismiss="modal">Update</button>
                                <button [disabled]="form.invalid" (click)="addProduct()"
                                    class="btn btn-success text-white" data-bs-dismiss="modal">Add Product</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center text-light fw-lighter text-center">All Products</h1>
    </div>
    <!-- AllProducts -->
    <div class="box mt-5 cartBox" *ngIf="!(isLoading$ | async)">
        <div class="table-responsive">
            <table class="table table-striped-columns table-light table-hover">
                <thead>
                    <tr class="text-center">
                        <th class="text-dark">Date</th>
                        <th class="text-dark">Image</th>
                        <th class="text-dark">Name</th>
                        <th class="text-dark">Quantity</th>
                        <th class="text-dark">Price</th>
                        <th class="text-dark">Category</th>
                        <th class="text-dark">SubCategory</th>
                        <th class="text-dark">Update Product</th>
                        <th class="text-dark">Delete Product</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of products; track item._id) {
                    <tr class="text-center">
                        <td class="w-25">{{item.createdAt | date:'medium'}}</td>
                        <td>
                            <div class="image-gallery">
                                @for (image of item.images; track image.secure_url) {
                                <img class="product-img" (click)="zoomImage(image.secure_url)"
                                    src="{{image.secure_url}}" alt="Product Image">
                                }
                            </div>
                        </td>
                        <td>{{item.title}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price | currency:'USD'}}</td>
                        <td>{{item.categoryId.name}}</td>
                        <td>{{item.subcategoryId.name}}</td>
                        <td><button (click)="editeProductsValue(item)" class="btn btn-outline-dark rounded-0 m-1"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button></td>
                        <td><button (click)="deleteProduct(item._id)"
                                class="btn btn-outline-danger rounded-0 m-1">Delete</button></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center" *ngIf="isLoading$ | async">
        <app-spinner></app-spinner>
    </div>
    <div class="zoom-box" *ngIf="isZoomed" (click)="closeZoom()">
        <div class="zoom-content" (click)="$event.stopPropagation()">
            <img [src]="selectedImage" (mousemove)="onMouseMove($event)" (mouseleave)="resetZoom()"
                [style.transform]="isHovered ? 'scale(2)' : 'scale(1)'"
                [style.transform-origin]="transformOriginX + ' ' + transformOriginY" style="transform: scale(2);"
                alt="Zoomed Image">
        </div>
    </div>
</div>