<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="authContainer mt-5 d-flex flex-column justify-content-center align-items-center align-content-center">
                <h1 class="text-center text-light fw-lighter mt-2">Artovia Dashboard <span class="text-warning">|</span> Create New Admin </h1>
                <form [formGroup]="createForm" (ngSubmit)="createAdmin(createForm)">
                    <!-- User Name Field -->
                    <div class="form-floating mb-3">
                        <input formControlName="userName" type="text" class="form-control" placeholder="">
                        <label for="floatingInput">User Name</label>
                        <div *ngIf="createForm.get('userName')?.invalid && (createForm.get('userName')?.dirty || createForm.get('userName')?.touched)"
                            class="text-danger">
                            <div *ngIf="createForm.get('userName')?.errors?.['required']">
                                User Name is required.
                            </div>
                        </div>
                    </div>

                    <!-- Email Field -->
                    <div class="form-floating mb-3">
                        <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                        <div *ngIf="createForm.get('email')?.invalid && (createForm.get('email')?.dirty || createForm.get('email')?.touched)"
                            class="text-danger">
                            <div *ngIf="createForm.get('email')?.errors?.['required']">
                                Email is required.
                            </div>
                            <div *ngIf="createForm.get('email')?.errors?.['email']">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="form-floating mb-3">
                        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword"> Password</label>
                        <div *ngIf="createForm.get('password')?.invalid && (createForm.get('password')?.dirty || createForm.get('password')?.touched)"
                            class="text-danger">
                            <div *ngIf="createForm.get('password')?.errors?.['required']">
                                Password is required.
                            </div>
                        </div>
                    </div>
                    <!-- Confirm Password Field -->
                    <div class="form-floating">
                        <input formControlName="confirmPassword" type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                        <label for="floatingPassword">Confirm Password</label>
                        <div *ngIf="createForm.get('confirmPassword')?.invalid && (createForm.get('confirmPassword')?.dirty || createForm.get('confirmPassword')?.touched)"
                            class="text-danger">
                            <div *ngIf="createForm.get('confirmPassword')?.errors?.['required']">
                                Confirm Password is required.
                            </div>
                        </div>
                        <!-- عرض خطأ إذا كانت القيمتان غير متطابقتين -->
                        <div *ngIf="createForm.errors?.['passwordMismatch'] && (createForm.get('confirmPassword')?.dirty || createForm.get('confirmPassword')?.touched)"
                            class="text-danger">
                            Passwords do not match.
                        </div>
                    </div>
                    <!-- Role Field -->
                    <label for="category" class="my-1 text-light fw-light"> Select Role </label>
                    <select class="form-control form-select m-auto mb-2" formControlName="role">
                        <option value="superAdmin" class="fw-light">Super Admin</option>
                    </select>
                    <div *ngIf="createForm.get('role')?.invalid && (createForm.get('role')?.dirty || createForm.get('role')?.touched)"
                        class="text-danger">
                        <div *ngIf="createForm.get('role')?.errors?.['required']">
                            Role is required.
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-warning text-white fw-light mt-1">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>