<section id="gridCards" class="container my-5">
    <h5 class="text-center text-muted">{{ 'GRID_CARDS.SHARE_SETUP' | translate }}</h5>
    <h3 class="text-center fw-bold">{{ 'GRID_CARDS.HASHTAG' | translate }}</h3>

    <div class="row mt-4">
        <div class="col-md-3 d-flex flex-column gap-3">
            <img loading="lazy" ngSrc="assets/cards/card.jpg" width="285" height="300" class="img-fluid" alt="Image 1">
            <img loading="lazy" ngSrc="assets/cards/image 101.png" width="285" height="300" class="img-fluid" alt="Image 2">
        </div>

        <div class="col-md-6 mt-5">
            <img loading="lazy" ngSrc="assets/cards/doors-in-interior-19.jpeg" width="285" height="300" class="img-fluid m-auto w-100" alt="Image 3">
        </div>

        <div class="col-md-3 d-flex flex-column gap-3">
            <img loading="lazy" ngSrc="assets/cards/Images3.png" width="285" height="300" class="img-fluid" alt="Image 4">
            <img loading="lazy" ngSrc="assets/cards/Images3.png" width="285" height="300" class="img-fluid" alt="Image 5">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <img loading="lazy" ngSrc="assets/cards/doors-in-interior-19.jpeg" width="285" height="300" class="img-fluid" alt="Image 6">
        </div>

        <div class="col-md-4">
            <img loading="lazy" ngSrc="assets/cards/image.jpg" width="285" height="300" class="img-fluid" alt="Image 7">
        </div>

        <div class="col-md-4">
            <img loading="lazy" ngSrc="assets/cards/image2.jpg" width="285" height="300" class="img-fluid" alt="Image 8">
        </div>
    </div>
</section>
