<h1 class="text-center mt-1 text-light fw-lighter">Add Category</h1>

<form [formGroup]="form">
    <div class="box d-flex justify-content-center align-items-center align-content-center ">
        <div class="productImageUrl">
            <div>
                <div class="card text-center " style="width: 25rem;">
                    <div class="card-body ">
                        <label class="form-label text-dark fw-light text-center">Choose Category Image </label>
                        <input id="categoryImage" (change)="onFileSelected($event)" formControlName="imageFile"
                            class="form-control form-control-sm m-1" type="file" accept="image/*">
                        <div class="form-floating mb-3">
                            <input formControlName="categoryName" type="text" class="form-control m-1" id="floatingInput"
                                placeholder="categoryName">
                            <label for="floatingInput">Catgeory Name</label>
                        </div>
                        <div class="mt-2">
                            <button (click)="updateCategory()" type="submit" [disabled]="!form.valid"  class="btn btn-sm btn-dark text-white m-1  rounded-0">UPDATE</button>
                            <button (click)="addCategory()" [disabled]="!form.valid" type="submit"  class="btn btn-sm btn-warning text-white m-1  rounded-0">ADD</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<h1 class="text-center text-light fw-lighter">All Categories</h1>
<div class="row">
    @for (item of categories; track item.id) {
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 gy-4">
        <div class="card shadow-sm border-0">
            <div class="image-container">
                <img src="{{item.image.secure_url}}" class="card-img-top" alt="Category Image">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title badge bg-warning text-white">#{{item.name}}</h5>
                <div class="mt-2">
                    <button (click)="deleteCategory(item._id)" class="btn btn-outline-danger rounded-0 m-1">
                        Delete
                    </button>
                    <button (click)="editeCategory(item)" class="btn btn-outline-dark rounded-0 m-1">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="text-center" *ngIf="isLoading$ | async">
        <app-spinner></app-spinner>
    </div>
</div>
