<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1 class="text-center text-light fw-lighter">Reset Password</h1>
    <div class="w-75 d-flex justify-content-center">
        <div class="card p-4 shadow-lg w-100">

            <div class="col-md-12">
                <div class="stepper">
                    <!-- Progress Bar -->
                    <div class="stepper-header d-flex justify-content-center">
                        <div class="step me-2" [class.active]="step >= 1">1</div>
                        <div class="line me-2" [class.active]="step >= 2"></div>
                        <div class="step me-2" [class.active]="step >= 2">2</div>
                        <div class="line me-2" [class.active]="step >= 3"></div>
                        <div class="step" [class.active]="step >= 3">3</div>
                    </div>
                    <form [formGroup]="emailInput">
                        <!-- الخطوة 1: إدخال الإيميل -->
                        @if (step === 1) {
                        <div class="step-content text-center">
                            <h3 class="text-dark fw-lighter">Enter Your Email</h3>
                            <input formControlName="email" type="email" [(ngModel)]="email" class="form-control mb-3"
                                placeholder="Enter your email">
                            <button class="btn btn-primary" (click)="resetPassword()"
                                [disabled]="!emailInput">Next</button>
                            <button class="btn btn-secondary ms-2" [routerLink]="['/login']">Go Back</button>
                        </div>
                        @if (responseMessage) {
                        <p class="text-center text-success">{{responseMessage}}</p>
                        }
                        }
                    </form>

                    @if (step === 2) {
                    <form [formGroup]="otpInputs">
                        <div class="step-content text-center">
                            <h3>Enter OTP</h3>
                            <input formControlName="code" type="text"
                                class="form-control mb-3 text-center" placeholder="Enter OTP">
                            <h3>Enter Your Email</h3>
                            <input formControlName="email" type="email" class="form-control mb-3 text-center"
                                placeholder="Enter Email">
                            <h3>Enter New Password</h3>
                            <input formControlName="password" type="password" class="form-control mb-3 text-center"
                                placeholder="Enter Passwrod">
                            <button class="btn btn-secondary" (click)="previousStep()">Back</button>
                            <button class="btn btn-primary ms-2" (click)="submitOTP()">Verify</button>
                        </div>
                    </form>
                    }


                    <!-- الخطوة 2: إدخال OTP -->

                    <!-- الخطوة 3: عرض النتيجة -->
                    @if (step === 3){
                    <div class="step-content text-center">
                        <h3>Reset Password</h3>
                        <p>{{ responseMessage }}</p>
                        <button class="btn btn-success" (click)="step = 1">Restart</button>
                    </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>